extends admin-layout
block content 
    .container-fluid
        .d-flex.mb-2
            h4=title

        table.table
            thead
                tr(class="row")
                    td(class="col-sm-3") ID
                    td(class="col-sm-2") Username
                    td(class="col-sm-3") Password
                    td(class="col-sm-4") Date
            tbody
                tr(class="row")
                    each user in users 
                        td(class="col-sm-3") #{user.id}
                        td(class="col-sm-2") #{user.username}
                        td(class="col-sm-3") #{user.password}
                        td(class="col-sm-4") #{user.date_formatted}