extends admin-layout 
block content
    div(class="banner-small d-flex align-items-center")
        .container
            .row 
                div(class="col-sm-6")
                    h5 
                        span.sabus Sabu's Shop 
                    p Le magasin d'électronique le plus proche de vous.
    .container.mt-4#bordered
        h4.mb-4=title1
        .row.p-2.text-center.border-top
            .col-md-3 
                strong Name
            .col-md-2 
                strong Reference
            .col-md-2
                strong Family
            .col-md-3 
                strong Date
            .col-md-2 
                strong Update/ Delete
        each electro in electros 
            .row.p-2
                .col-md-3 
                    span=electro.name
                .col-md-2
                    span=electro.reference
                .col-md-2
                    span=electro.family 
                .col-md-3 
                    span=electro.date
                .col-md-2.exept
                    a(href='/admin'+electro.url+'/update' class="btn btn-success") Update 
                    a(href='/admin'+electro.url+'/delete' class="btn btn-danger ml-2") Delete  
    .container.mt-4#bordered
        h4.mb-4=title2
        .row.p-2.text-center.border-top
            .col-md-3 
                strong Name
            .col-md-2 
                strong Reference
            .col-md-2
                strong Family
            .col-md-3 
                strong Date
            .col-md-2 
                strong Update/Delete
        each phone in phones 
            .row.p-2
                .col-md-3 
                    span=phone.name
                .col-md-2
                    span=phone.reference
                .col-md-2
                    span=phone.family 
                .col-md-3 
                    span=phone.date
                .col-md-2.exept
                    a(href='/admin'+phone.url+'/update' class="btn btn-success") Update 
                    a(href='/admin'+phone.url+'/delete' class="btn btn-danger ml-2") Delete  