extends admin-layout 
block content
    .menu.d-flex.p-2.align-items-center
            h3.mr-auto Product 
            form(action="", method="get" class="border form-search") 
                i(class="icofont icofont-search m-2")
                input(type="text" name="search" placeholder="Search")
            a(href="/admin/ajouter-un-produit" class="btn sabus-bg ml-2 mr-2") Add Product 
    .container-fluid
        table.table
            thead 
                tr 
                    th(scope="col") ID
                    th(scope="col") Published
                    th(scope="col") Name
                    th(scope="col") Price
                    th(scope="col") Created at
                    th(scope="col") Tags
                    th(scope="col") Actions
            tbody 
                each product in products 
                    tr 
                        td(scope="row") #{product._id}
                        td= product.status
                        td #{product.name}
                        td #{product.price + '.00'}
                        td=product.date_formatted
                        td=product.tags
                        td 
                            a(href="/admin/produit/" + product.id + "/edit" class="text-primary") Edit 
                            a(href="/admin/produit/" + product.id + "/delete" class="text-danger") Delete 
        .d-flex.align-items-center.p-3.border-top.fixed-bottom
            strong 100 results
            .ml-auto
                .btn.border.mr-2 prev
                .btn.border next
