extends layout 

block content 
    .container
        h5(class="mt-4")=title1
        #products 
            each product in electros
                div(class="card mt-4")
                    .card-img
                        img(src=product.image_url, title="Produits-"+product.reference, height="145px", width="145px")
                    .card-title
                        h5(class="card-title") #{product.name}
                    a(href=product.url+'/details' class="card-detail") Détails 

        h5(class="mt-4")=title2
        #products 
            each product in phones
                div(class="card mt-4")
                    .card-img
                        img(src=product.image_url, title="Produits-"+product.reference, height="145px", width="145px")
                    .card-title
                        h5(class="card-title") #{product.name}
                    a(href=product.url+'/details' class="card-detail") Détails 
            